@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
  font-family: "Lexend Deca";
  box-sizing: border-box;
}

.real-container{
  max-width: 1000px;
  margin:auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  background-color: #FCF0CC;
}

.real-container-20{
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  background-color: #FCF0CC;
}

.slick-slide img{
  display: initial;
}
.app{
  background-color: #b998dc;
}
.bg {
  padding-top: 2%;
  padding-bottom: 2%;
  /* margin: auto; */
  background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fpapers.co%2Fvy79-circle-purple-simple-minimal-pattern-background%2F&psig=AOvVaw1p_SPObVl3hOuQnYnyeXBB&ust=1652262256314000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCKDTotzS1PcCFQAAAAAdAAAAABAD");
}

.slick-next{
  z-index: 99;
  right:10%;
  top:30px;
  width: 50px;
  height: 50px;
}
.slick-prev{
  z-index: 99;
  left:10%;
  top:30px;
  width: 50px;
  height: 50px;
}
.slick-next::before{
  font-size: 50px;
}

.slick-prev::before{
  font-size: 50px;
}


.slick-list{
  overflow: hidden;
}
.newbody-header {
  background-color: #311451;
  color: #FFFFFF;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 0px 0px;
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 0;
}

.newbody{
  display: flex;
  flex-direction: column;
  gap:3%;
}

.newbody-members{
  padding:2%;
}

/*  Header  */
.beats {
  color: #FFFFFF;
}

.heading {
  color: #FFFFFF;
  font-size: 50px;
  background-color: #311451;
  text-align: center;
  margin: 0;
  padding: 3%;
}

/*  Timeline  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b998dc;
}

.Collapsible {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  overflow: hidden;

}

.Collapsible__contentOuter{
  color: black;
}

.Collapsible__trigger {
  font-weight: 700;
  font-size: 1.5rem;
  background-color: #311451;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
  padding: 2%;
}

.Collapsible__contentOuter {
  background-color: #FCF0CC;
}


.timeline {
  width: 100%;
  height: auto;
  max-width: 800px;
  position: relative;
}

.timeline ul {
  list-style: none;
  padding-left: 0;
}

.timeline ul li {
  /* padding: 20px; */
  margin-bottom: 2%;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* font-size: 20px; */
  /* border-radius: 20px; */
  background-color: #311451;
  color: #FFFFFF;
  /* font-size: 140%; */
  /* width: 40%; */
}


.new-contact {
  background-color: #311451;
  padding: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}


/*  faculty in-charge */
.connections {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.faculty-img {
  width: 20%;
}


.faculty>h1 {
  font-size: 3rem
}

.faculty h4 {
  font-size: 1.9rem
}


/*  year  */
.year {
  display: flex;
  background-color: #202B90;
  color: #EDD382;
  justify-content: left;
  border-radius: 15px;
  padding-left: 0;
  margin-top: 0;
  font-size: 2rem;
}

/*  Mentor Styling */
.mentor {
  display: flex;
  justify-content: space-evenly;
  gap: 7.8%;
  margin-top: 4%;
  padding: 0;
  background-color: #FCF0CC;
  text-align: center;
}

.mentor-newbody {
  display: flex;
  justify-content: space-evenly;
  gap: 7.8%;
  margin-top: 4%;
  padding: 0;
  background-color: #FCF0CC;

}

.mentor-newbody>div {
  text-align: center;
}

.mentor-newbody h1 {
  font-size: 32px;
}

.mentor-newbody h4 {
  font-size: 1.5rem;
}

.mentor h1 {
  font-size: 32px;
}

.mentor h4 {
  font-size: 25px;
}

.mentor-img {
  width: 100%;
  max-width: 150px;
  max-height: 150px;
}

h4 {
  font-size: 0.5rem;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

.name {
  font-size: 0.5rem;
}



/*  Lead Styling */

.lead1 div h1,.lead1-20 div h1 {
  font-size: 32px;
}

.lead1 div h4,.lead1-20 div h4 {

  font-size: 1.5rem;
}

.lead1-19>div {
  text-align: center;
}

.lead1-19 img {
  width: 40%;
}

.lead1-19 h1 {
  font-size: 32px;
}

.lead1-19 h4 {
  font-size: 25px;
}

.lead1 {
  display: grid;
  /* flex-wrap: wrap; */
  /* gap: 2%; */
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.lead1>div, .lead1-20>div {
  text-align: center;
}

.lead1>div:last-child {
  grid-column: auto / span 3;
}

.lead1-20 {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  gap:10%;
  background-color: #FCF0CC;
}

.lead1-19 {
  display: grid;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* margin: 0 auto; */
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  gap: 15%;
  background-color: #FCF0CC;
}

.lead1-19:last-child {
  transform: translateX(30%);
}

/* .lead1-19{ */
/* display: flex; */
/* flex-direction: column; */
/* justify-content: center; */
/* margin: 0 auto; */
/* align-items: center;
  width: 100%;
  gap: 15%;
  background-color: #FCF0CC; */
/* } */

.leadimg {
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  min-width: 70px;
}

/* Magazine */
.magazine {
  background-color: #202B90;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: center;
  margin-top: 3%;
  flex-direction: column;
  color: #EDD382;
  align-items: center;
}

.mag-heading {
  margin-top: 1%;
}

.mag-button {
  background-color: #FCF0CC;
  color: #311451;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  outline: none;
  border: none;
  padding: 1rem 4rem;
  border-radius: 40px;
  cursor: pointer;
  width: auto;
  margin-top: 1%;
  margin-bottom: 2%;
  /* transition: transform .6s; */
  transition: all 0.4s;
}

.mag-button:hover {
  /* transform: scale(1.2); */
  transform: translateY(-10px);
  box-shadow: 0 4px 4px 2px #b998dc;
}


/*  contact */

.contact-bg {
  background-color: #202B90;
  /* border-radius: 15px 15px 0px 0px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*to be reverted if going back to previous contact */
  width: 100%;
  align-items: center;
  /* margin-top: 25px; */
}

.contact-heading {
  margin-bottom: 1%;
}

.contact-button {
  background-color: #FCF0CC;
  color: #311451;
  font-size: 2rem;
  font-weight: bold;
  /* display: inline-block; */
  outline: none;
  border: none;
  padding: 1rem 4rem;
  border-radius: 40px;
  cursor: pointer;
  width: auto;
  transition: all .4s;
  /* transition: transform .6s; */
}

.contact-button:hover {
  /* transform: scale(1.2); */
  transform: translateY(-10px);
  box-shadow: 0 4px 4px 2px #b998dc;
}

/* media query  */