@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  z-index: 100;
  height: 11vh;
  position: fixed;
  font-family: "Lexend Deca", sans-serif;
  width: 100%;
  transition: transform 300ms ease-in-out;
}
.nav-curve {
  border-radius: 0 0 15px 15px;
}
.toggle-container {
  height: 100%;
  display: flex;
  align-items: center;
}
.toggle-nav {
  z-index: 99;
  position: fixed;
  font-size: 30px;
  margin-left: 1rem;
  background: transparent;
  border: 0;
  transition: all 300ms ease-in-out;
  color:white;
}
.links {
  position: absolute;
  top: 0%;
  font-size: 25px;
  transform: translateX(-120%);
  transition: all 300ms ease-in-out;
  background: black;
  height: 100vh;
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}
.show {
  transform: translateX(0%);
}
.links ul {
  margin-top: 15vh;
}
.links li {
  list-style: none;
  margin: 2rem 0rem;
}
.links a {
  text-decoration: none;
}
.link-list{
  color: white;
}
@media screen and (min-width: 600px) {
  .toggle-nav {
    margin-left: 2rem;
  }
  .links {
    font-size: 30px;
  }
}
@media screen and (min-width: 850px) {
  .toggle-container {
    display: none;
  }
  .nav {
    background: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links {
    all: unset;
    transform: translateX(0%);
    font-size: 18px;
  }
  .links ul {
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content: center;
    gap: 2.5rem;
    font-size: 20px;
    font-weight: 500;
  }
  .links a {
    color: rgb(255, 255, 255);
  }
}