.gallery-heading {
  /* position: relative;
  height: 12vw;
  width: 100%;
  font-size: 4vw;
  text-transform: uppercase;
  text-align: center;
  line-height: 12vw;
  background-color:#fcfb04; */
  color: #000000;
  font-size: min(10vw, 30px);
  background-color: #fbad3c;
  text-align: center;
  margin: 0;
  padding: 2.5%;
  font-weight: 1000;
}

.photos {
  padding: 10px;
  width: 100%;
  background-color: #ffff74;
}

.event {
    max-width: 85vw;
    background-color: #fbad3c;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 50px;
    margin-inline: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3,25vw);
    grid-template-rows: 8vw repeat(3,25vw);
    grid-template-areas:
        "title title title"
        "one one two"
        "three four two"
        "three five five";
    justify-content: center;
    gap: 10px;
}

@media (max-width: 768px) {
  .event {
    max-width: 95vw;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
.event>.image{
  position: relative;
  width: 100%;
  border-radius: 10px;
}

/* Images in the events */

.event-name{
  text-transform: uppercase;
  font-size: min(10vw, 50px);
  font-weight: bold;
  line-height: 6vw;
  text-align: center;
  grid-area: title;
  padding: 1vw;
}

#image-1 {
  background-image: url("../../assets/Gallery/d1.JPG");  
  background-position:center 90%;
  background-repeat:no-repeat;
  background-size: cover;
  grid-area: one;
}

#image-2 {
  background-image: url("../../assets/Gallery/d2.jpg");  
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
  grid-area: two;
}

#image-3 {
  background-image: url("../../assets/Gallery/d3.JPG");
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  grid-area: three;
}

#image-4 {
    background-image: url("../../assets/Gallery/d4.jpg");
    background-position:top;
    background-repeat:no-repeat;
    background-size: cover;
    grid-area: four;
  }
  
#image-5 {
    background-image: url("../../assets/Gallery/d5.jpg");
    background-position: bottom;
    background-repeat:no-repeat;
    background-size: cover;
    grid-area: five;
}

#image-6 {
    background-image: url("../../assets/Gallery/i1.JPG");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: one;
}

#image-7 {
    background-image: url("../../assets/Gallery/i2.JPG");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: two;
}

#image-8 {
    background-image: url("../../assets/Gallery/i3.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: three;
}

#image-9 {
    background-image: url("../../assets/Gallery/i4.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: four;
}

#image-10 {
    background-image: url("../../assets/Gallery/i5.JPG");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: five;
}

#image-11{
  background-image: url("../../assets/Gallery/s1.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: one;
}
#image-12{
  background-image: url("../../assets/Gallery/s2.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: two;
}
#image-13{
  background-image: url("../../assets/Gallery/s3.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: three;
}
#image-14{
  background-image: url("../../assets/Gallery/s4.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: four;
}
#image-15{
  background-image: url("../../assets/Gallery/s5.JPG");
  background-position: center 40%;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: five;
}
#image-16{
  background-image: url("../../assets/Gallery/o1.JPG");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: one;
}
#image-17{
  background-image: url("../../assets/Gallery/o2.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: two;
}
#image-18{
  background-image: url("../../assets/Gallery/o3.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: three;
}
#image-19{
  background-image: url("../../assets/Gallery/o4.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: four;
}
#image-20{
  background-image: url("../../assets/Gallery/o5.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: five;
}
#image-21{
  background-image: url("../../assets/Gallery/e1.JPG");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: one;
}
#image-22{
  background-image: url("../../assets/Gallery/e2.JPG");
  background-position: center right 35%;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: two;
}
#image-23{
  background-image: url("../../assets/Gallery/e3.jpeg");
  background-position: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: three;
}
#image-24{
  background-image: url("../../assets/Gallery/e4.JPG");
  background-position: 75%;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: four;
}
#image-25{
  background-image: url("../../assets/Gallery/e5.JPG");
  background-position: center ;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: five;
}
#image-26{
  background-image: url("../../assets/Gallery/g1.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: one;
}
#image-27{
  background-image: url("../../assets/Gallery/g2.JPG");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: two;
}
#image-28{
  background-image: url("../../assets/Gallery/g3.JPG");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: three;
}
#image-29{
  background-image: url("../../assets/Gallery/g4.JPG");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: four;
}
#image-30{
  background-image: url("../../assets/Gallery/g5.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: five;
}

/* Responsiveness */

@media (max-width:850px) {
  .event {
    grid-template-columns: repeat(3,27vw);
    grid-template-rows: 10vw repeat(3,27vw);
    grid-template-areas: "title title title"
                         "one one two"
                         "one one two"
                         "three four four";
    gap: 7px;  
  }
.event-name{
  line-height: 10vw;
}

  #image-5,#image-10, #image-15, #image-20, #image-25, #image-30 {
    display:none;
  }
}

@media (max-width:639px) {
  .galley-event-name-big{
    grid-template-rows: 20vw repeat(3,27vw);
  }
}
@media (max-width:450px) {
  .event {
    padding: 12px;
    grid-template-columns: 46vw 36vw;
    grid-template-rows: max(6vw, 60px) 36vw 36vw 36vw;
    grid-template-areas: "title title"
                         "one two"
                         "three two"
                         "four four";
    gap: 5px;
  }

  .event-name{
    line-height: 10vw;
  }

  #image-5,#image-10, #image-15, #image-20, #image-25, #image-30 {
    display:none;
  }
}


/* Custom Scrollbar already being used commonly for the site */
/* ::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color:crimson;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(238,133,34);
} */