@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Lexend Deca';
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

